<form th:fragment = "loginForm" method="post" th:action="@{/login}" th:object="${user}" id="login-form" class="hidden mx-auto w-4/5 flex flex-col justify-center items-center transition-all">
    <div class="mb-8 w-full ">
        <input type="text" id="login-email" name="username" th:field="*{username}" minlength="3" maxlength="100" class="bg-gray-50 h-28 w-full mt-2 border-4 border-red-500 bg-transparent text-red-500 text-4xl rounded-lg focus:ring-red-300 focus:border-red-300 block p-2.5" placeholder="Email address / username" />
        <p class="text-2xl text-stone-400">We'll never share your email with anyone else.</p>
        <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}" />
    </div>
    <div class="mb-8 w-full">
        <input type="password" id="login-password" name="password" th:field="*{password}" minlength="6" class="bg-gray-50 h-28 w-full mt-2 border-4 border-red-500 bg-transparent text-red-500 text-4xl rounded-lg focus:ring-red-300 focus:border-red-300 block p-2.5" placeholder="Password" />
        <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}" />
    </div>
    <div class="flex items-start mb-5 hidden">
        <div class="flex items-center h-5">
            <input id="remember" type="checkbox" value="" class="w-14 h-14 border border-red-500 rounded bg-transparent focus:ring-3 focus:ring-red-300" />
        </div>
        <label for="remember" class="ms-2 text-sm font-medium text-gray-900">Remember me</label>
    </div>
    <button type="submit" class="text-white bg-red-500 h-36 w-full focus:ring-4 focus:outline-none focus:ring-red-300 font-bold italic rounded-lg text-6xl">LOGIN</button>
</form>