<form th:fragment = "signupForm" method="post" th:action="@{/signup}" th:object="${user}" id="signup-form" class="hidden mx-auto w-4/5 flex flex-col justify-center items-center transition-all">
    <div class="mb-8 w-full ">
        <input type="email" id="signup-email" name="email" th:field="*{email}" minlength="3" maxlength="100" class="bg-gray-50 h-28 w-full mt-2 border-4 border-red-500 bg-transparent text-red-500 text-4xl rounded-lg focus:ring-red-300 focus:border-red-300 block p-2.5 transition-all" placeholder="Email address" />
        <p class="text-2xl text-stone-400">We'll never share your email with anyone else.</p>
    </div>
    <div class="mb-8 w-full ">
        <input type="text" id="signup-username" name="username" th:field="*{username}" minlength="2" maxlength="50" class="bg-gray-50 h-28 w-full mt-2 border-4 border-red-500 bg-transparent text-red-500 text-4xl rounded-lg placeholder:italic focus:ring-red-300 focus:border-red-300 block p-2.5 transition-all" placeholder="Username" />
    </div>
    <div class="mb-8 w-full">
        <input type="password" id="signup-password" name="password" th:field="*{password}" minlength="6" maxlength="30" placeholder="Password" class="bg-gray-50 h-28 w-full mt-2 border-4 border-red-500 bg-transparent text-red-500 text-4xl rounded-lg focus:ring-red-300 focus:border-red-300 block p-2.5" />
    </div>
    <div class="mb-8 w-full">
        <input type="password" id="signup-password2" name="password2" placeholder="Re-enter password" class="bg-gray-50 h-28 w-full mt-2 border-4 border-red-500 bg-transparent text-red-500 text-4xl rounded-lg focus:ring-red-300 focus:border-red-300 block p-2.5" />
    </div>
    <div class="flex w-full h-36 justify-center items-end mb-5">
        <div class="flex flex-col h-full w-1/3 items-center justify-center">
            <label for="signup-checkup" class="text-4xl text-center text-stone-400 h-2/3">I am not a fumier :</label>
            <input id="signup-checkup" type="checkbox" value="" name="signup-checkup" class="h-1/3 aspect-square border border-red-500 rounded bg-transparent checked:bg-red-500 focus:ring-3 focus:ring-red-300" />
        </div>
        <button type="submit" class="text-white bg-red-500 h-full w-2/3 focus:ring-4 focus:outline-none focus:ring-red-300 font-bold italic rounded-lg text-6xl">SIGNUP</button>
    </div>

</form>