<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="/css/output.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/burger.css" rel="stylesheet">
</head>

<body class="h-dvh max-h-dvh flex flex-col overflow-hidden">
    <header layout:fragment="header" class="bg-red-500">
        <nav role="navigation">
            <input id="serve-the-burger" type="checkbox">
            <label class="menu-burger" for="serve-the-burger">
                <div class="top-bun"></div>
                <div class="meat"></div>
                <div class="bottom-bun"></div>
            </label>
            <nav class="header-menu">
                <a href="/bet">Bet !</a>
                <a href="/league">League</a>
                <a href="/schedule">Schedule</a>
                <a href="/edit-profile">Edit my profile</a>
                <a href="/logout">Logout</a>
            </nav>
        </nav>
    </header>
    <div th:insert="~{app/layout/appStatus::appStatus}" class="app-status-flag text-4xl font-bold italic text-center uppercase flex justify-center items-center "></div>
    <div layout:fragment="page"></div>
    <footer layout:fragment="footer"id="footer" class="bg-red-500">
        <a href="#" class="scores">
            <span id="footer-league-name" class="font-bold uppercase adaptive-text">BACAF</span>
        </a>
        <div class="score">
            <span class="adaptive-score">2658</span>
        </div>
        <div class="ladder">
            <span class="adaptive-score">156</span>
            <div class="pos">st</div>
        </div>
    </footer>
    <div th:insert="~{app/layout/background::background}"></div>
<script src="/js/app/adaptiveText.js"></script>
</body>
</html>