header{
    height:9%;
}

.app-status-flag{
    color: var(--black);
    background-color: var(--green-flag);
    height:3%;
}

.main-content{
    height:100%;
}

.app-component{
    width:100%;
    height:37.5%;
    overflow: hidden;
}

.app-component:last-child{
    height:25%;
}

section{
    display:grid;
}

section:last-child{
    padding-bottom: 1rem;
}

#news{
    grid-template-rows: 8rem repeat(3, .30fr);
}

#last-results, #next-gp{
    grid-template-rows: 8rem;
}

.dashboard-section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:6rem;
    background-color: var(--white25);
}

article{
    padding:0 .5rem;
    margin:.2rem .5rem;
    border-bottom:2px solid var(--white50);
    border-left:2px solid var(--white50);
    border-bottom-left-radius: 1.5rem;
    transition:.25s;
}

article:active{
    background-color: rgba(255,255,255,0.5);
}

#news article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:2rem;
}

#news article a:last-child{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0;
    text-transform: uppercase;
    font-weight: bold;
}

#news article a{
    text-align: justify;
    padding-right:1rem;
    width:100%;
}

#next-gp article, #last-results article{
    position:relative;
}

.dashboard-race-title, .dashboard-league-title{
    text-align: center;
}

.dashboard-race-title{
    font-size:4rem;
}

.dashboard-league-title{
    font-size:2rem;
}

.dashboard-race-flag{
    display: inline-block;
    height:1em;
}

.sport{
    position:absolute;
    font-size:4rem;
    bottom:0;
    right:0;
    padding-right:.5rem;
    text-align: right;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder;
}

footer{
    position:relative;
    height:7%;
}

footer .scores{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0 1em;
}

.scores span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:100%;
    line-height: 0.7;
    letter-spacing: .1em;
    opacity: .10;
    white-space: break-spaces;
}

footer .score, footer .ladder{
    color:var(--black);
    height:90%;
    aspect-ratio: 1/1;
    border:2px solid var(--black);
    position:absolute;
    transform: translate(0, 50%);
    bottom:50%;
    font-size: 3em;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    pointer-events: none;
}

footer .ladder{
    padding-right:.5em;
}

footer .score{
    border-radius: 9999px;
    left:30%;
    font-weight: 700;
}

footer .ladder{
    right:30%;
    font-weight: 700;
    font-style:italic;
}

footer .adaptive-score{
    position:absolute;
}

footer .pos{
    font-size: .5em;
    position: absolute;
    padding-left: 1em;
    top: 0;
    right: .2em;
}