:root{
    --black : #2b2b2b;
    --white25: rgba(255, 255, 255, .25);
    --white50: rgba(255, 255, 255, .5);
    --green-flag: rgb(74 222 128);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    font-family: "Noto", sans-serif;
    overflow:hidden;
}

table{
    border-collapse: separate;
    border:2px solid var(--white50);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left:1em;
    margin-right:1em;
}

td, th{
    display: flex;
    align-items: center;
    padding-left:.5em;
    padding-right:.5em;
}

td{
    font-size: 1.75em;
    height:3em;
    border-top:2px solid var(--white50);
}

th{
    font-size: 2.5em;
    height:4em;
}

tr{

}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */

.noto-sans-title-logo {
    font-family: "Noto Sans", sans-serif;
    font-size:8em;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.noto-sans-landing-button {
    font-family: "Noto Sans", sans-serif;
    font-size:2em;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-variation-settings:
            "wdth" 100;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------- BUTTONS -------------------------------- */

.landing-button{
    position:relative;
}

.landing-button a, .landing-button p, .link{
    display: flex;
    justify-content: center;
    align-items:center;
}

.landing-button::before {
    content: ""; /* Obligatoire pour afficher le pseudo-élément */
    position: absolute; /* Position absolue par rapport à la div parente */
    top: -4px; /* Position au sommet de la div parente */
    left:0;
    width: 25%; /* Largeur de la bordure supérieure */
    border-top: 4px solid rgb(239 68 68); /* Bordure supérieure */
}

.landing-button::after {
    content: ""; /* Obligatoire pour afficher le pseudo-élément */
    position: absolute; /* Position absolue par rapport à la div parente */
    bottom: -4px; /* Position au sommet de la div parente */
    right:0;
    width: 25%; /* Largeur de la bordure supérieure */
    border-top: 4px solid rgb(239 68 68); /* Bordure supérieure */
}

.landing-button.active{
    border: 4px solid rgba(239, 68, 68, 1);

}

.landing-button.inactive{
    border-top: 4px solid rgba(239, 68, 68, 0.5);
    border-bottom: 4px solid rgba(239, 68, 68, 0.5);
    border-right: 4px solid rgb(239 68 68);
    border-left: 4px solid rgb(239 68 68);
    transition:.5s;
}

.hidden{
    display:none;
    transition:.25s;
}

/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* ------- https://wweb.dev/resources/blur-background-css-generator ------- */
.background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--black), var(--black));
    display: flex;
    flex-grow: 1;
    z-index: -1;
}

.background div {
    position: absolute;
    border-radius: 100%;
    height: 0;
    filter: blur(240vw);
    opacity: 0.4;
}

.background div:nth-child(1) {
    background: linear-gradient(132deg, #c01c28 0.00%, #f66151 100.00%);
    width: 34%;
    padding-top: 34%;
    left: 26%;
    top: 25%;
    transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
    background: linear-gradient(132deg, #1a5fb4 0.00%, #1c71d8 100.00%);
    width: 40%;
    padding-top: 40%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(3) {
    background: linear-gradient(132deg, #1FCFC3 0.00%, #77767b 100.00%);
    width: 30%;
    padding-top: 30%;
    left: 80%;
    top: 63%;
    transform: translateX(-50%) translateY(-50%);
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */