<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="app/layout/layout">

<main layout:fragment="page" class="main-content flex-1 overflow-auto">
    <section id="news" class="app-component">
        <h2 class="section-title">News</h2>
        <article>
            <a href="#"><span class="font-bold uppercase">[BACAF - F1@Japan]</span> Aubert une nouvelle fois la risée !</a>
            <div id="ns1" class="h-1/4 aspect-square rounded-full bg-purple-500"></div>
        </article>
        <article>
            <a href="#"><span class="font-bold uppercase">[BACAF - F1@Japan]</span> Aubert une nouvelle fois la risée !</a>
            <div id="ns2" class="h-1/4 aspect-square rounded-full bg-purple-500"></div>
        </article>
        <article>
            <a href="#" class="text-justify pr-4">
                <span class="font-bold uppercase">[BACAF - NASCAR@Richmond]</span> Qlex une nouvelle fois la risée ! Dorizon vainqueur !
            </a>
            <div id="ns3" class="h-1/4 aspect-square rounded-full bg-stone-500"></div>
        </article>
        <article><a href="#" class="text-center">All the news</a></article>
    </section>
    <section id="last-results" class="app-component">
        <h2 class="section-title">Last Race Results</h2>
        <article>
            <h3 class="dashboard-race-title">
                GP du Japon
                <img class="dashboard-race-flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Japan.svg/1280px-Flag_of_Japan.svg.png" alt="JAPAN_FLAG">
            </h3>
            <h4 class="dashboard-league-title">League Bac à Fumier</h4>
            <p class="sport">Formule 1</p>
        </article>
    </section>
    <section id="next-gp" class="app-component">
        <h2 class="section-title">Next Race</h2>
        <article>
            <h3 class="dashboard-race-title">
                GP de Chine
                <img class="dashboard-race-flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/800px-Flag_of_the_People%27s_Republic_of_China.svg.png" alt="CHINA_FLAG">
            </h3>
            <h4 class="dashboard-league-title">League Bac à Fumier</h4>
            <p class="sport">Formule 1</p>
        </article>
    </section>
</main>