<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="app/layout/layout">

<main layout:fragment="page">
    <article class="main-content" >
        <section id="news" class="app-component">
            <div><h2>News</h2></div>
            <article><a href="#">Aubert une nouvelle fois la risée !</a></article>
            <article><a href="#">Aubert une nouvelle fois la risée !</a></article>
            <article><a href="#">Aubert une nouvelle fois la risée !</a></article>
            <article><a href="#">All the news</a></article>
        </section>
        <section id="last-results" class="app-component"></section>
        <section id="next-gp" class="app-component"></section>
    </article>
</main>