<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="app/layout/layout">

<main layout:fragment="page" class="main-content flex-1 overflow-auto">
    <section class="">
        <h1 class="section-title">Leagues</h1>
        <p class="section-subtitle">Where you are IN IN IN IN IN IN IN</p>
    </section>
    <section id = "select-league" class="app-component">
        <div class="first-row">
            <div><span class="font-bold uppercase">[SPORT]</span>&nbsp;League</div>
            <div class="days-to-next-race">D-DAY IN</div>
        </div>
        <article>
            <a href="#"><span class="font-bold uppercase">[FORMULE 1]</span>&nbsp;Bac à Fumier</a>
            <div class="days-to-next-race">
                <div class="light bg-red-500"></div>
                <div class="light bg-red-500"></div>
                <div class="light bg-red-500"></div>
                <div class="light bg-red-500"></div>
                <div class="light bg-slate-700"></div>
            </div>
        </article>
        <article>
            <a href="#"><span class="font-bold uppercase">[FORMULE 1]</span>&nbsp;Bac à Fumier</a>
            <div class="days-to-next-race">
                <div class="light bg-red-500"></div>
                <div class="light bg-red-500"></div>
                <div class="light bg-red-500"></div>
                <div class="light bg-slate-700"></div>
                <div class="light bg-slate-700"></div>
            </div>

        </article>
        <article>
            <a href="#"><span class="font-bold uppercase">[FORMULE 1]</span>&nbsp;Bac à Fumier</a>
            <div class="days-to-next-race">
                <div class="light bg-red-500"></div>
                <div class="light bg-slate-700"></div>
                <div class="light bg-slate-700"></div>
                <div class="light bg-slate-700"></div>
                <div class="light bg-slate-700"></div>
            </div>
        </article>

        <div id="leagueInfoContainer">
            <!-- Les informations de la ligue sélectionnée seront affichées ici -->
        </div>
    </section>
    <script src="js/app/league/jQueryLeague.js"></script>
</main>