<!DOCTYPE html>
<head th:insert = "~{outside/layout/head::head}"></head>
<body class="h-screen w-screen">

<div class="h-full w-full flex items-center justify-center">
    <div style="height: fit-content;" class="w-11/12 aspect-square flex flex-col justify-around">
        <div class="border-t-8 border-l-8 border-r-8 border-red-500 w-full h-72"></div>
        <div class="border-20 border-red-500 w-full h-60 text-8xl flex justify-center items-center">LES FORMULIX

        </div>
        <div class="border-b-8 border-l-8 border-r-8 border-red-500 w-full h-72"></div>

    </div>

</div>



<div class="background">
    <div></div>
    <div></div>
    <div></div>
</div>
</body>
<div th:insert = "~{outside/layout/foot::foot}"></div>